# Frontend environment variables

NEXT_PUBLIC_BASE_URL="https://your-project-name.strapiapp.com"
NEXT_PUBLIC_API_URL="https://your-project-name.strapiapp.com/api"
NEXT_PUBLIC_PAYPAL_CLIENT_ID="your_paypal_client_id"

STRAPI_API_TOKEN="your_strapi_api_token"
RESEND_API_KEY="your_resend_api_key"
ADMIN_EMAIL="admin@example.ai"
RESEND_FROM_EMAIL="Body Pleasures <noreply@example.ai>"
