/* [next]/internal/font/google/playfair_display_b7700c01.module.css [app-client] (css) */
@font-face {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url("../media/65c558afe41e89d6-s.e2c8389a.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url("../media/14e23f9b59180572-s.9c448f3c.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url("../media/b49b0d9b851e4899-s.4f3fa681.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url("../media/2a65768255d6b625-s.p.d19752fb.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Playfair Display Fallback;
  src: local(Times New Roman);
  ascent-override: 97.25%;
  descent-override: 22.56%;
  line-gap-override: 0.0%;
  size-adjust: 111.26%;
}

.playfair_display_b7700c01-module__LbZqPq__className {
  font-family: Playfair Display, Playfair Display Fallback;
  font-style: normal;
}

.playfair_display_b7700c01-module__LbZqPq__variable {
  --font-serif: "Playfair Display", "Playfair Display Fallback";
}

/* [next]/internal/font/google/inter_b2991b2.module.css [app-client] (css) */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/2c55a0e60120577a-s.2a48534a.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/9c72aa0f40e4eef8-s.18a48cbc.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/ad66f9afd8947f86-s.7a40eb73.woff2") format("woff2");
  unicode-range: U+1F??;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/5476f68d60460930-s.c995e352.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/2bbe8d2671613f1f-s.76dcb0b2.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/1bffadaabf893a1e-s.7cd81963.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/83afe278b6a6bb3c-s.p.3a6ba036.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Inter Fallback;
  src: local(Arial);
  ascent-override: 90.44%;
  descent-override: 22.52%;
  line-gap-override: 0.0%;
  size-adjust: 107.12%;
}

.inter_b2991b2-module__9mH_6q__className {
  font-family: Inter, Inter Fallback;
  font-style: normal;
}

.inter_b2991b2-module__9mH_6q__variable {
  --font-sans: "Inter", "Inter Fallback";
}

/* [project]/node_modules/tw-animate-css/dist/tw-animate.css [app-client] (css) */
@property --tw-animation-delay {
  syntax: "*";
  inherits: false;
  initial-value: 0s;
}

@property --tw-animation-direction {
  syntax: "*";
  inherits: false;
  initial-value: normal;
}

@property --tw-animation-duration {
  syntax: "*";
  inherits: false
}

@property --tw-animation-fill-mode {
  syntax: "*";
  inherits: false;
  initial-value: forwards;
}

@property --tw-animation-iteration-count {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-enter-opacity {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-enter-rotate {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-enter-scale {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-enter-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-enter-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-exit-opacity {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-exit-rotate {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-exit-scale {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-exit-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-exit-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@theme inline {
  --animation-delay-0: 0s; --animation-delay-75: 75ms; --animation-delay-100: .1s; --animation-delay-150: .15s; --animation-delay-200: .2s; --animation-delay-300: .3s; --animation-delay-500: .5s; --animation-delay-700: .7s; --animation-delay-1000: 1s; --animation-repeat-0: 0; --animation-repeat-1: 1; --animation-repeat-infinite: infinite; --animation-direction-normal: normal; --animation-direction-reverse: reverse; --animation-direction-alternate: alternate; --animation-direction-alternate-reverse: alternate-reverse; --animation-fill-mode-none: none; --animation-fill-mode-forwards: forwards; --animation-fill-mode-backwards: backwards; --animation-fill-mode-both: both; --percentage-0: 0; --percentage-5: .05; --percentage-10: .1; --percentage-15: .15; --percentage-20: .2; --percentage-25: .25; --percentage-30: .3; --percentage-35: .35; --percentage-40: .4; --percentage-45: .45; --percentage-50: .5; --percentage-55: .55; --percentage-60: .6; --percentage-65: .65; --percentage-70: .7; --percentage-75: .75; --percentage-80: .8; --percentage-85: .85; --percentage-90: .9; --percentage-95: .95; --percentage-100: 1; --percentage-translate-full: 1; --animate-in: enter var(--tw-animation-duration, var(--tw-duration, .15s)) var(--tw-ease, ease) var(--tw-animation-delay, 0s) var(--tw-animation-iteration-count, 1) var(--tw-animation-direction, normal) var(--tw-animation-fill-mode, forwards) ; --animate-out: exit var(--tw-animation-duration, var(--tw-duration, .15s)) var(--tw-ease, ease) var(--tw-animation-delay, 0s) var(--tw-animation-iteration-count, 1) var(--tw-animation-direction, normal) var(--tw-animation-fill-mode, forwards) ; @keyframes enter { from { opacity: var(--tw-enter-opacity, 1) ; transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0)) ; } } @keyframes exit { to { opacity: var(--tw-exit-opacity, 1) ; transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1)) rotate(var(--tw-exit-rotate, 0)) ; } } --animate-accordion-down: accordion-down var(--tw-animation-duration, var(--tw-duration, .2s)) ease-out; --animate-accordion-up: accordion-up var(--tw-animation-duration, var(--tw-duration, .2s)) ease-out; --animate-collapsible-down: collapsible-down var(--tw-animation-duration, var(--tw-duration, .2s)) ease-out; --animate-collapsible-up: collapsible-up var(--tw-animation-duration, var(--tw-duration, .2s)) ease-out; @keyframes accordion-down { from { height: 0; } to { height: var(--radix-accordion-content-height, var(--bits-accordion-content-height, var(--reka-accordion-content-height, var(--kb-accordion-content-height, auto)))) ; } } @keyframes accordion-up { from { height: var(--radix-accordion-content-height, var(--bits-accordion-content-height, var(--reka-accordion-content-height, var(--kb-accordion-content-height, auto)))) ; } to { height: 0; } } @keyframes collapsible-down { from { height: 0; } to { height: var(--radix-collapsible-content-height, var(--bits-collapsible-content-height, var(--reka-collapsible-content-height, var(--kb-collapsible-content-height, auto)))) ; } } @keyframes collapsible-up { from { height: var(--radix-collapsible-content-height, var(--bits-collapsible-content-height, var(--reka-collapsible-content-height, var(--kb-collapsible-content-height, auto)))) ; } to { height: 0; } } --animate-caret-blink: caret-blink 1.25s ease-out infinite; @keyframes caret-blink { 0%, 70%, 100% { opacity: 1; } 20%, 50% { opacity: 0; } }
}

@utility animation-duration- *  {
  --tw-animation-duration: calc(--value(number) * 1ms) ; --tw-animation-duration: --value(--animation-duration- * , [duration], "initial", [ * ]) ; animation-duration: calc(--value(number) * 1ms) ; animation-duration: --value(--animation-duration- * , [duration], "initial", [ * ]) ;
}

@utility delay- *  {
  animation-delay: calc(--value(number) * 1ms) ; animation-delay: --value(--animation-delay- * , [duration], "initial", [ * ]) ; --tw-animation-delay: calc(--value(number) * 1ms) ; --tw-animation-delay: --value(--animation-delay- * , [duration], "initial", [ * ]) ;
}

@utility repeat- *  {
  animation-iteration-count: --value(--animation-repeat- * , number, "initial", [ * ]) ; --tw-animation-iteration-count: --value(--animation-repeat- * , number, "initial", [ * ]) ;
}

@utility direction- *  {
  animation-direction: --value(--animation-direction- * , "initial", [ * ]) ; --tw-animation-direction: --value(--animation-direction- * , "initial", [ * ]) ;
}

@utility fill-mode- *  {
  animation-fill-mode: --value(--animation-fill-mode- * , "initial", [ * ]) ; --tw-animation-fill-mode: --value(--animation-fill-mode- * , "initial", [ * ]) ;
}

@utility running {
  animation-play-state: running;
}

@utility paused {
  animation-play-state: paused;
}

@utility play-state- *  {
  animation-play-state: --value("initial", [ * ]) ;
}

@utility fade-in {
  --tw-enter-opacity: 0;
}

@utility fade-in- *  {
  --tw-enter-opacity: calc(--value(number) / 100) ; --tw-enter-opacity: --value(--percentage- * , [ * ]) ;
}

@utility fade-out {
  --tw-exit-opacity: 0;
}

@utility fade-out- *  {
  --tw-exit-opacity: calc(--value(number) / 100) ; --tw-exit-opacity: --value(--percentage- * , [ * ]) ;
}

@utility zoom-in {
  --tw-enter-scale: 0;
}

@utility zoom-in- *  {
  --tw-enter-scale: calc(--value(number) * 1%) ; --tw-enter-scale: calc(--value(ratio)) ; --tw-enter-scale: --value(--percentage- * , [ * ]) ;
}

@utility -zoom-in- *  {
  --tw-enter-scale: calc(--value(number) * -1%) ; --tw-enter-scale: calc(--value(ratio) * -1) ; --tw-enter-scale: --value(--percentage- * , [ * ]) ;
}

@utility zoom-out {
  --tw-exit-scale: 0;
}

@utility zoom-out- *  {
  --tw-exit-scale: calc(--value(number) * 1%) ; --tw-exit-scale: calc(--value(ratio)) ; --tw-exit-scale: --value(--percentage- * , [ * ]) ;
}

@utility -zoom-out- *  {
  --tw-exit-scale: calc(--value(number) * -1%) ; --tw-exit-scale: calc(--value(ratio) * -1) ; --tw-exit-scale: --value(--percentage- * , [ * ]) ;
}

@utility spin-in {
  --tw-enter-rotate: 30deg;
}

@utility spin-in- *  {
  --tw-enter-rotate: calc(--value(number) * 1deg) ; --tw-enter-rotate: calc(--value(ratio) * 360deg) ; --tw-enter-rotate: --value(--rotate- * , [ * ]) ;
}

@utility -spin-in {
  --tw-enter-rotate: -30deg;
}

@utility -spin-in- *  {
  --tw-enter-rotate: calc(--value(number) * -1deg) ; --tw-enter-rotate: calc(--value(ratio) * -360deg) ; --tw-enter-rotate: --value(--rotate- * , [ * ]) ;
}

@utility spin-out {
  --tw-exit-rotate: 30deg;
}

@utility spin-out- *  {
  --tw-exit-rotate: calc(--value(number) * 1deg) ; --tw-exit-rotate: calc(--value(ratio) * 360deg) ; --tw-exit-rotate: --value(--rotate- * , [ * ]) ;
}

@utility -spin-out {
  --tw-exit-rotate: -30deg;
}

@utility -spin-out- *  {
  --tw-exit-rotate: calc(--value(number) * -1deg) ; --tw-exit-rotate: calc(--value(ratio) * -360deg) ; --tw-exit-rotate: --value(--rotate- * , [ * ]) ;
}

@utility slide-in-from-top {
  --tw-enter-translate-y: -100%;
}

@utility slide-in-from-top- *  {
  --tw-enter-translate-y: calc(--value(integer) * var(--spacing) * -1) ; --tw-enter-translate-y: calc(--value(--percentage- * , --percentage-translate- * ) * -100%) ; --tw-enter-translate-y: calc(--value(ratio) * -100%) ; --tw-enter-translate-y: calc(--value(--translate- * , [percentage], [length]) * -1) ;
}

@utility slide-in-from-bottom {
  --tw-enter-translate-y: 100%;
}

@utility slide-in-from-bottom- *  {
  --tw-enter-translate-y: calc(--value(integer) * var(--spacing)) ; --tw-enter-translate-y: calc(--value(--percentage- * , --percentage-translate- * ) * 100%) ; --tw-enter-translate-y: calc(--value(ratio) * 100%) ; --tw-enter-translate-y: --value(--translate- * , [percentage], [length]) ;
}

@utility slide-in-from-left {
  --tw-enter-translate-x: -100%;
}

@utility slide-in-from-left- *  {
  --tw-enter-translate-x: calc(--value(integer) * var(--spacing) * -1) ; --tw-enter-translate-x: calc(--value(--percentage- * , --percentage-translate- * ) * -100%) ; --tw-enter-translate-x: calc(--value(ratio) * 100%) ; --tw-enter-translate-x: calc(--value(--translate- * , [percentage], [length]) * -1) ;
}

@utility slide-in-from-right {
  --tw-enter-translate-x: 100%;
}

@utility slide-in-from-right- *  {
  --tw-enter-translate-x: calc(--value(integer) * var(--spacing)) ; --tw-enter-translate-x: calc(--value(--percentage- * , --percentage-translate- * ) * 100%) ; --tw-enter-translate-x: calc(--value(ratio) * 100%) ; --tw-enter-translate-x: --value(--translate- * , [percentage], [length]) ;
}

@utility slide-out-to-top {
  --tw-exit-translate-y: -100%;
}

@utility slide-out-to-top- *  {
  --tw-exit-translate-y: calc(--value(integer) * var(--spacing) * -1) ; --tw-exit-translate-y: calc(--value(--percentage- * , --percentage-translate- * ) * -100%) ; --tw-exit-translate-y: calc(--value(ratio) * 100%) ; --tw-exit-translate-y: calc(--value(--translate- * , [percentage], [length]) * -1) ;
}

@utility slide-out-to-bottom {
  --tw-exit-translate-y: 100%;
}

@utility slide-out-to-bottom- *  {
  --tw-exit-translate-y: calc(--value(integer) * var(--spacing)) ; --tw-exit-translate-y: calc(--value(--percentage- * , --percentage-translate- * ) * 100%) ; --tw-exit-translate-y: calc(--value(ratio) * 100%) ; --tw-exit-translate-y: --value(--translate- * , [percentage], [length]) ;
}

@utility slide-out-to-left {
  --tw-exit-translate-x: -100%;
}

@utility slide-out-to-left- *  {
  --tw-exit-translate-x: calc(--value(integer) * var(--spacing) * -1) ; --tw-exit-translate-x: calc(--value(--percentage- * , --percentage-translate- * ) * -100%) ; --tw-exit-translate-x: calc(--value(ratio) * 100%) ; --tw-exit-translate-x: calc(--value(--translate- * , [percentage], [length]) * -1) ;
}

@utility slide-out-to-right {
  --tw-exit-translate-x: 100%;
}

@utility slide-out-to-right- *  {
  --tw-exit-translate-x: calc(--value(integer) * var(--spacing)) ; --tw-exit-translate-x: calc(--value(--percentage- * , --percentage-translate- * ) * 100%) ; --tw-exit-translate-x: calc(--value(ratio) * 100%) ; --tw-exit-translate-x: --value(--translate- * , [percentage], [length]) ;
}

/* [project]/app/globals.css [app-client] (css) */
@custom-variant dark (& :is(. dark * ));

:root {
  --background: #f8f7f3;
  --foreground: #25211d;
  --card: #fcfcf9;
  --card-foreground: #25211d;
  --popover: #fcfcf9;
  --popover-foreground: #25211d;
  --primary: #3c6034;
  --primary-foreground: #fcfcf9;
  --secondary: #d8ccb8;
  --secondary-foreground: #25211d;
  --muted: #e8e4dd;
  --muted-foreground: #797065;
  --accent: #e58870;
  --accent-foreground: #fcfcf9;
  --border: #dbd7d0;
  --input: #dbd7d0;
  --ring: #3c6034;
  --radius: .75rem;
}

@supports (color: lab(0% 0 0)) {
  :root {
    --background: lab(97.1261% -.0119805 1.90754);
    --foreground: lab(12.9781% 1.75586 3.37938);
    --card: lab(98.8557% -.0089705 1.14336);
    --card-foreground: lab(12.9781% 1.75586 3.37938);
    --popover: lab(98.8557% -.0089705 1.14336);
    --popover-foreground: lab(12.9781% 1.75586 3.37938);
    --primary: lab(37.1456% -20.5855 20.6926);
    --primary-foreground: lab(98.8557% -.0089705 1.14336);
    --secondary: lab(82.6738% 1.95688 11.4749);
    --secondary-foreground: lab(12.9781% 1.75586 3.37938);
    --muted: lab(90.76% .288427 3.81444);
    --muted-foreground: lab(47.8029% 2.44391 7.31292);
    --accent: lab(66.5437% 34.8536 28.7533);
    --accent-foreground: lab(98.8557% -.0089705 1.14336);
    --border: lab(86.1085% .583261 3.77473);
    --input: lab(86.1085% .583261 3.77473);
    --ring: lab(37.1456% -20.5855 20.6926);
  }
}

.dark {
  --background: #0e0a07;
  --foreground: #f0eeeb;
  --card: #15110d;
  --card-foreground: #f0eeeb;
  --popover: #15110d;
  --popover-foreground: #f0eeeb;
  --primary: #518046;
  --primary-foreground: #0e0a07;
  --secondary: #282017;
  --secondary-foreground: #f0eeeb;
  --muted: #211911;
  --muted-foreground: #968e82;
  --accent: #cd725c;
  --accent-foreground: #0e0a07;
  --border: #282017;
  --input: #282017;
  --ring: #518046;
}

@supports (color: lab(0% 0 0)) {
  .dark {
    --background: lab(3.03542% .975616 1.60148);
    --foreground: lab(94.226% -.0117719 1.90765);
    --card: lab(5.25001% 1.38035 2.33883);
    --card-foreground: lab(94.226% -.0117719 1.90765);
    --popover: lab(5.25001% 1.38035 2.33883);
    --popover-foreground: lab(94.226% -.0117719 1.90765);
    --primary: lab(48.9794% -25.7234 25.9219);
    --primary-foreground: lab(3.03542% .975616 1.60148);
    --secondary: lab(12.9905% 2.67142 7.53001);
    --secondary-foreground: lab(94.226% -.0117719 1.90765);
    --muted: lab(9.4855% 3.24768 6.79399);
    --muted-foreground: lab(59.4507% 1.27882 7.62968);
    --accent: lab(58.4127% 35.0187 29.1238);
    --accent-foreground: lab(3.03542% .975616 1.60148);
    --border: lab(12.9905% 2.67142 7.53001);
    --input: lab(12.9905% 2.67142 7.53001);
    --ring: lab(48.9794% -25.7234 25.9219);
  }
}

@theme inline {
  --font-sans: "Geist", "Geist Fallback"; --font-mono: "Geist Mono", "Geist Mono Fallback"; --color-background: var(--background) ; --color-foreground: var(--foreground) ; --color-card: var(--card) ; --color-card-foreground: var(--card-foreground) ; --color-popover: var(--popover) ; --color-popover-foreground: var(--popover-foreground) ; --color-primary: var(--primary) ; --color-primary-foreground: var(--primary-foreground) ; --color-secondary: var(--secondary) ; --color-secondary-foreground: var(--secondary-foreground) ; --color-muted: var(--muted) ; --color-muted-foreground: var(--muted-foreground) ; --color-accent: var(--accent) ; --color-accent-foreground: var(--accent-foreground) ; --color-destructive: var(--destructive) ; --color-destructive-foreground: var(--destructive-foreground) ; --color-border: var(--border) ; --color-input: var(--input) ; --color-ring: var(--ring) ; --color-chart-1: var(--chart-1) ; --color-chart-2: var(--chart-2) ; --color-chart-3: var(--chart-3) ; --color-chart-4: var(--chart-4) ; --color-chart-5: var(--chart-5) ; --radius-sm: calc(var(--radius)  - 4px) ; --radius-md: calc(var(--radius)  - 2px) ; --radius-lg: var(--radius) ; --radius-xl: calc(var(--radius)  + 4px) ; --color-sidebar: var(--sidebar) ; --color-sidebar-foreground: var(--sidebar-foreground) ; --color-sidebar-primary: var(--sidebar-primary) ; --color-sidebar-primary-foreground: var(--sidebar-primary-foreground) ; --color-sidebar-accent: var(--sidebar-accent) ; --color-sidebar-accent-foreground: var(--sidebar-accent-foreground) ; --color-sidebar-border: var(--sidebar-border) ; --color-sidebar-ring: var(--sidebar-ring) ;
}

@layer base {
  @apply border-border outline-ring / 50;

  @apply bg-background text-foreground;
}

/*# sourceMappingURL=%5Broot-of-the-server%5D__186a389e._.css.map*/